.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;    
}

.card {
    background-color: #212529;
}

.card-body {
    padding: 0 25px;    
}

.card-footer {
    padding: 10px 15px;    
    border-top: none;
}

.btn-like {
    color: white;
    background-color: purple;
    border-color: purple;
}

.btn-like:hover {
    background-color: rgb(87, 0, 87);
    border-color: rgb(87, 0, 87);
}

.btn-like:focus,.btn-like:active {
    outline: none !important;
    box-shadow: none;    
}
