.img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;

}

input[type=file] {
    color: transparent;
}

.btn-purple {
    color: white;
    background-color: purple;
    border-color: purple;
}

.btn-purple:hover {
    background-color: rgb(87, 0, 87);
    border-color: rgb(87, 0, 87);
}

.btn-purple:focus,.btn-like:active {
    outline: none !important;
    box-shadow: none;    
}

.btn-outline-purple {
    border-color: purple;
}